h1 {color:red}
P{ color:green}
body {background-color:lightgreen;
  font-family:"Arial";
  font-style:italic;
  font-size:20 px;
}
.destacado{
  font style: italic}
  color:55FF33
font-style:italic;}
h2 {font: arial;
  color:cursiva}